@media screen and (min-width: 320px) and (max-width: 480px) {
  #header form {
    background-color: rgb(255, 110, 97);
    border-bottom: 0.65vh solid rgb(0, 0, 0);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
  }
  #header form #header-text {
    color: rgb(247, 247, 247);
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vh 1.75vw;
  }
  #header form .header-element {
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.35rem;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 0.05vh 0.05vw;
  }
  #header form #pokemon-textbox {
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 20%;
    font-weight: bold;
    font-size: 1.2rem;
  }
  #header form button {
    font-weight: bold;
    background: rgb(0, 0, 0);
  }
  #header form button .button-top {
    display: block;
    box-sizing: border-box;
    border: 0.05rem solid rgb(0, 0, 0);
    border-radius: 0.35rem;
    padding: 0.05vh 0.55vw;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
  }
  #header form button:hover .button-top {
    transform: translateY(-0.33rem);
  }
  #header form button:active .button-top {
    transform: translateY(0rem);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #header form {
    background-color: rgb(255, 110, 97);
    border-bottom: 0.65vh solid rgb(0, 0, 0);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;
  }
  #header form #header-text {
    color: rgb(247, 247, 247);
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vh 1.75vw;
  }
  #header form .header-element {
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    padding: 0.05vh 0.75vw;
  }
  #header form #pokemon-textbox {
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 15%;
    font-weight: bold;
  }
  #header form button {
    font-weight: bold;
    background: rgb(0, 0, 0);
  }
  #header form button .button-top {
    display: block;
    box-sizing: border-box;
    border: 0.15rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    padding: 0.05vh 0.55vw;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
  }
  #header form button:hover .button-top {
    transform: translateY(-0.33rem);
  }
  #header form button:active .button-top {
    transform: translateY(0rem);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #header form {
    background-color: rgb(255, 110, 97);
    border-bottom: 0.65vh solid rgb(0, 0, 0);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;
  }
  #header form #header-text {
    color: rgb(247, 247, 247);
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vh 1.75vw;
  }
  #header form .header-element {
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    padding: 0.05vh 0.75vw;
  }
  #header form #pokemon-textbox {
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 15%;
    font-weight: bold;
  }
  #header form button {
    font-weight: bold;
    background: rgb(0, 0, 0);
  }
  #header form button .button-top {
    display: block;
    box-sizing: border-box;
    border: 0.15rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    padding: 0.05vh 0.55vw;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
  }
  #header form button:hover .button-top {
    transform: translateY(-0.33rem);
  }
  #header form button:active .button-top {
    transform: translateY(0rem);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #header form {
    background-color: rgb(255, 110, 97);
    border-bottom: 0.65vh solid rgb(0, 0, 0);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;
  }
  #header form #header-text {
    color: rgb(247, 247, 247);
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vh 1.75vw;
  }
  #header form .header-element {
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    padding: 0.05vh 0.75vw;
  }
  #header form #pokemon-textbox {
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 15%;
    font-weight: bold;
  }
  #header form button {
    font-weight: bold;
    background: rgb(0, 0, 0);
  }
  #header form button .button-top {
    display: block;
    box-sizing: border-box;
    border: 0.15rem solid rgb(0, 0, 0);
    border-radius: 0.75rem;
    padding: 0.05vh 0.55vw;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
  }
  #header form button:hover .button-top {
    transform: translateY(-0.33rem);
  }
  #header form button:active .button-top {
    transform: translateY(0rem);
  }
}
@media screen and (min-width: 1201px) {
  #header form {
    background-color: rgb(255, 110, 97);
    border-bottom: 0.65vh solid rgb(0, 0, 0);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;
  }
  #header form #header-text {
    color: rgb(247, 247, 247);
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vh 1vw;
  }
  #header form .header-element {
    border-radius: 0.75rem;
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
  #header form #header-text {
    font-size: 2rem;
    font-weight: bolder;
  }
  #header form #pokemon-textbox {
    border: 0.2rem solid rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 15%;
    font-weight: bold;
    padding: 0.15em 0.55em;
  }
  #header form button {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.05rem;
    background: rgb(0, 0, 0);
  }
  #header form button .button-top {
    display: block;
    box-sizing: border-box;
    border: 0.05rem solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    background: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
  }
  #header form button:hover .button-top {
    transform: translateY(-0.33rem);
  }
  #header form button:active .button-top {
    transform: translateY(0rem);
  }
}/*# sourceMappingURL=header.css.map */