@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
$background-color: rgba(255, 110, 97, 1);
$dark-color: rgba(0, 0, 0, 1);
$med-color: rgba(82, 82, 82, 1);
$light-color: rgba(247, 247, 247, 1);
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 1.75rem;

// Mobile Devices --iPhone X
@media screen and (min-width: 320px) and (max-width: 480px) {
  #header form {
    background-color: rgba(255, 110, 97, 1);
    border-bottom: 0.65vh solid rgba(0, 0, 0, 1);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;

    #header-text {
      color: rgba(247, 247, 247, 1);
      display: inline-block;
      font-size: 1.5rem;
      padding: 0.5vh 1.75vw;
    }

    .header-element {
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 0.75rem;
      box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
      color: rgba(0, 0, 0, 1);
      font-size: 0.9rem;
      padding: 0.05vh 0.75vw;
    }

    #pokemon-textbox {
      background-color: rgba(247, 247, 247, 1);
      text-align: center;
      width: 15%;
      font-weight: bold;
    }

    button {
      font-weight: bold;
      background: rgba(0, 0, 0, 1);

      .button-top {
        display: block;
        box-sizing: border-box;
        border: 0.15rem solid rgba(0, 0, 0, 1);
        border-radius: 0.75rem;
        padding: 0.05vh 0.55vw;
        background:  rgba(247, 247, 247, 1);
        color: rgba(0, 0, 0, 1);
        transform: translateY(-0.2rem);
        transition: transform 0.1s ease;
      }
    }

    button:hover .button-top {
      transform: translateY(-0.33rem);
    }

    button:active .button-top {
      transform: translateY(0rem);
    }
  }
}

// iPads, Tablets --iPad
@media screen and (min-width: 481px) and (max-width: 768px) {
  #header form {
    background-color: rgba(255, 110, 97, 1);
    border-bottom: 0.65vh solid rgba(0, 0, 0, 1);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;

    #header-text {
      color: rgba(247, 247, 247, 1);
      display: inline-block;
      font-size: 1.5rem;
      padding: 0.5vh 1.75vw;
    }

    .header-element {
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 0.75rem;
      box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
      color: rgba(0, 0, 0, 1);
      font-size: 0.9rem;
      padding: 0.05vh 0.75vw;
    }

    #pokemon-textbox {
      background-color: rgba(247, 247, 247, 1);
      text-align: center;
      width: 15%;
      font-weight: bold;
    }

    button {
      font-weight: bold;
      background: rgba(0, 0, 0, 1);

      .button-top {
        display: block;
        box-sizing: border-box;
        border: 0.15rem solid rgba(0, 0, 0, 1);
        border-radius: 0.75rem;
        padding: 0.05vh 0.55vw;
        background:  rgba(247, 247, 247, 1);
        color: rgba(0, 0, 0, 1);
        transform: translateY(-0.2rem);
        transition: transform 0.1s ease;
      }
    }

    button:hover .button-top {
      transform: translateY(-0.33rem);
    }

    button:active .button-top {
      transform: translateY(0rem);
    }
  }
}

// Small Screens, Laptops --iPad Pro
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #header form {
    background-color: rgba(255, 110, 97, 1);
    border-bottom: 0.65vh solid rgba(0, 0, 0, 1);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;

    #header-text {
      color: rgba(247, 247, 247, 1);
      display: inline-block;
      font-size: 1.5rem;
      padding: 0.5vh 1.75vw;
    }

    .header-element {
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 0.75rem;
      box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
      color: rgba(0, 0, 0, 1);
      font-size: 0.9rem;
      padding: 0.05vh 0.75vw;
    }

    #pokemon-textbox {
      background-color: rgba(247, 247, 247, 1);
      text-align: center;
      width: 15%;
      font-weight: bold;
    }

    button {
      font-weight: bold;
      background: rgba(0, 0, 0, 1);

      .button-top {
        display: block;
        box-sizing: border-box;
        border: 0.15rem solid rgba(0, 0, 0, 1);
        border-radius: 0.75rem;
        padding: 0.05vh 0.55vw;
        background:  rgba(247, 247, 247, 1);
        color: rgba(0, 0, 0, 1);
        transform: translateY(-0.2rem);
        transition: transform 0.1s ease;
      }
    }

    button:hover .button-top {
      transform: translateY(-0.33rem);
    }

    button:active .button-top {
      transform: translateY(0rem);
    }
  }
}

// Desktops, Large Screens --Laptop
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #header form {
    background-color: rgba(255, 110, 97, 1);
    border-bottom: 0.65vh solid rgba(0, 0, 0, 1);
    box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
    padding: 0.75rem;
    position: fixed;
    width: 100%;

    #header-text {
      color: rgba(247, 247, 247, 1);
      display: inline-block;
      font-size: 1.5rem;
      padding: 0.5vh 1.75vw;
    }

    .header-element {
      border: 0.2rem solid rgba(0, 0, 0, 1);
      border-radius: 0.75rem;
      box-shadow: 0.4rem 0.4rem 0.8rem 0rem rgba(120, 120, 120, 0.5);
      color: rgba(0, 0, 0, 1);
      font-size: 0.9rem;
      padding: 0.05vh 0.75vw;
    }

    #pokemon-textbox {
      background-color: rgba(247, 247, 247, 1);
      text-align: center;
      width: 15%;
      font-weight: bold;
    }

    button {
      font-weight: bold;
      background: rgba(0, 0, 0, 1);

      .button-top {
        display: block;
        box-sizing: border-box;
        border: 0.15rem solid rgba(0, 0, 0, 1);
        border-radius: 0.75rem;
        padding: 0.05vh 0.55vw;
        background:  rgba(247, 247, 247, 1);
        color: rgba(0, 0, 0, 1);
        transform: translateY(-0.2rem);
        transition: transform 0.1s ease;
      }
    }

    button:hover .button-top {
      transform: translateY(-0.33rem);
    }

    button:active .button-top {
      transform: translateY(0rem);
    }
  }
}

// Extra Large Screens, TV --MacBook Air
@media screen and (min-width: 1201px) {
  #header form {
    background-color: $background-color;
    border-bottom: $s-size solid $dark-color;
    box-shadow: $box-shadow;
    padding: $m-size;
    width: 100%;
    position: fixed;

    #header-text {
      color: $light-color;
      display: inline-block;
      font-size: calc($l-size * 1.2);
      padding: $s-size;
    }

    .header-element {
      background-color: $light-color;
      border: calc($m-size / 4.5) solid $dark-color;
      border-radius: $s-size;
      box-shadow: $box-shadow;
      color: $dark-color;
      font-size: calc($m-size * 1.2);
      padding: $s-size;
    }
  }
}
